.buttons-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.filter-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.error {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}